c = get_config()

c.IPKernelApp.pylab = 'inline'
c.Application.log_level = 10
c.LabApp.ip = '0.0.0.0'
c.LabApp.open_browser = False
c.LabApp.password = u'{{password_hash}}'
c.LabApp.port = {{port}}
c.LabApp.log_datefmt = '%Y-%m-%d %H:%M:%S'