# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  logRotate: reopen
  path: {{log_path}}

# Where and how to store data.
storage:
  dbPath: {{data_path}}
  journal:
    enabled: true
#  engine:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: {{port}}
  bindIpAll: true

security:
  authorization: {{authorization}}

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp: